name: Build

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: '${{ matrix.os }}'
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04,ubuntu-latest,macOS-15-intel,macOS-latest]
    steps:
      - uses: actions/checkout@v5
      - run: make -j4
      - run: ./tivars_tests
